.projects-container {
  background-color: #fff0d4;
  font-family: 'Hind', sans-serif;
  height: 100%;
}

.projects-header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.projects-link-container {
  display: flex;
  justify-content: space-between;
  margin-right: 6rem;
  width: 9vw;
}

.projects-link {
  color: #343434;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  width: 150px;
}

.link-1:hover,
.link-2:hover {
  background-color: #343434;
  color: #fff0d4;
  transform: translateY(-3px);
}

.logo {
  padding-left: 3.75rem;
  transition: 0.4s ease-in-out;
}

.logo:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.main-projects-container {
  display: flex;
  flex-direction: column;
}

.projects-main-header {
  align-self: center;
  color: #343434;
  font-size: 2.75rem;
  font-weight: 500;
  margin: 0;
}

.project-heading-container {
  display: flex;
  justify-content: space-around;
}

.project-header {
  font-size: 2.25rem;
  font-weight: 400;
  display: flex;
  margin-top: 0;
  padding-left: 3.75rem;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project-image {
  align-self: center;
  width: 91.4%;
}

.button-launch-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.launch-link {
  align-items: center;
  border: 1.4px #343434 solid;
  color: #000;
  display: flex;
  font-size: 1.1rem;
  height: 52.22px;
  justify-content: center;
  margin: 1rem 0 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  width: 117.22px;
}

.launch-link:hover {
  background-color: #343434;
  color: #fff0d4;
  transform: translateY(-3px);
}

.details-button {
  align-self: center;
  background-color: #fff0d4;
  border: 1.4px #343434 solid;
  font-size: 1.1rem;
  height: 55px;
  margin: 1rem 1rem 0 0;
  transition: 0.4s ease-in-out;
  width: 120px;
}

.details-button:hover {
  background-color: #343434;
  color: #fff0d4;
  transform: translateY(-3px);
}

.details-button:hover .arrow-icon {
  fill: #fff0d4;
}

.active-button {
  background-color: #343434;
  color: #fff0d4;
}

.github-logo {
  height: 40px;
  padding-left: 2rem;
  padding-top: 1.25rem;
  width: 40px;
  transition: 0.4s ease-in-out;
}

.github-logo:hover {
  transform: translateY(-3px);
}

.description-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 3.75rem;
}

.description-header {
  align-self: flex-start;
  margin-top: 1rem 0 0 0;
}

.project-description {
  margin: 0;
}

.tech-stack-text {
  align-self: flex-start;
  margin: 0 0 1rem 0;
}
